div{
  padding:1px 1100px 1px 1px;
  border: 1px white solid;   
  margin-left:10px;
  margin-right: 300px
  margin-top:1px;
  margin-bottom: 1px;
}

.segundo{
  padding:5px;
  border-right:1px red solid;
  border-left:1px red solid;
  border-top:1px red solid;
  border-bottom:1px red solid; 
  margin-left:10px;
  margin-right: 300px
  margin-top:1px;
  margin-bottom: 1px;  
  text-align: left;	
}
.texto{
	padding-right: 9px;
  margin-top: 2px;
}