$color-principal-km: #FFFFFF;
$marginleft-km: 20px;
$color-secundario-km: #000000;
$transparente: transparent;
$gris: #7E7E7E;
$gris-oscuro: #848484;  
$transparente: transparent;
$gris: #7E7E7E;
$gris-oscuro: #848484;
$mp-gris: #484848;
$mp-radius: 100px;
$mp-border: solid gray 0.5px;